.container-home {
    background: center / cover no-repeat;
}

.home-dark {
    background-image: url("../bg-home-light.svg");
}

.home-light {
    background-image: url("../bg-home-dark.svg");
}

.container-wpp {
    width: 60px;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
}
