.handle-nav {
    position: absolute;
    right: 0;
    z-index: 1;
}

.handle-dark {
    position: absolute;
    left: 0;
    z-index: 1;
}

.navigation {
    position: absolute;
    transition: all .7s ease;
    background-color: gray;
    letter-spacing: .05rem;
}

.open {
    top: 0%;
    opacity: 1;
}

.close {
    top: -100%;
    opacity: 0;
}